<h1>Listing movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Description</th>
    <th>Genre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= link_to movie.title, movie %></td>
    <td><%= movie.year %></td>
    <td><%= movie.description %></td>
    <td>
	    <% movie.genres.each do |g| %>
	    <%= g.name %>
	    <% end %>
    </td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path, class: "btn btn-warning" %>
<%= link_to 'Genres', genres_path, class: "btn btn-warning" %>
<%= link_to 'Search for a movie', searches_path, class: "btn btn-warning" %>
